In [1]:
import pandas as pd

In [4]:
lst=[1,2,3,44,5]
df = pd.DataFrame(lst)
df

    0
0   1
1   2
2   3
3  44
4   5

In [5]:
pd.__version__

'2.1.2'

In [7]:
s1 = pd.Series()

In [8]:
s1

Series([], dtype: object)

In [9]:
s2 = pd.Series([1,2,3,4,5])

In [10]:
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s2.values

array([1, 2, 3, 4, 5])

In [13]:
s3 = pd.Series([1,2,3,4,5],index =[10,20,30,40,50])

In [14]:
s3

10    1
20    2
30    3
40    4
50    5
dtype: int64

In [15]:
scores = pd.Series([2,2,4,5,5],index=['bob','nark','bruh','gleo','hoLA'])

In [16]:
scores

bob     2
nark    2
bruh    4
gleo    5
hoLA    5
dtype: int64

In [17]:
import pandas as pd

In [18]:
df1 =pd.DataFrame()

In [19]:
type(df1)

pandas.core.frame.DataFrame

In [20]:
print(df1)

Empty DataFrame
Columns: []
Index: []

In [21]:
df1.columns

RangeIndex(start=0, stop=0, step=1)

In [22]:
df1.index

RangeIndex(start=0, stop=0, step=1)

In [23]:
students_list = [['bob','wiliam',26,'computr',86],
                ['eme','jom',43,'dfs',56]]

In [24]:
students_df = pd.DataFrame(students_list)

In [25]:
students_df

     0       1   2        3   4
0  bob  wiliam  26  computr  86
1  eme     jom  43      dfs  56

In [27]:
students_df = pd.DataFrame(students_list,columns=['first','last','age','major','sck'])

In [28]:
students_df

  first    last  age    major  sck
0   bob  wiliam   26  computr   86
1   eme     jom   43      dfs   56